/* PANEL SIZE (same as OC / SC) */
#panel {
  width: 1000px;
  height: 600px;
  margin: auto;
  position: relative;
}

/* SUPPLY */
.supply {
  left: 20px;
  top: 40px;
}

/* METERS BLOCK */
.meters {
  left: 260px;
  top: 30px;
  width: 660px;
  height: 230px;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: nowrap;
}

/* EACH METER */
.meters .meter {
  width: 120px;
  text-align: center;
}

/* VARIAC */
.variac {
  left: 20px;
  top: 320px;
}

/* SPST SWITCH */
.switch {
  left: 260px;
  top: 320px;
  width: 180px;
  height: 200px;
  text-align: center;
}

.switch img {
  width: 150px;
  margin-top: 30px;
  margin-left: 5px;
}

/* TRANSFORMER 1 */
.transformer.t1 {
  left: 500px;
  top: 320px;
}

/* TRANSFORMER 2 */
.transformer.t2 {
  left: 740px;
  top: 320px;
}

/* TRANSFORMER TITLE */
.transformer h4 {
  text-align: center;
  margin-bottom: 5px;
  font-size: 13px;
}
